<div class="container d-flex justify-content-center mt-5">
    <div class="card bg-primary bg-opacity-10 w-75">
        <div class="card-container" *ngIf="nonItems">
            <div class="alert alert-danger">
                <h3 class="fw-bolder">Enter your weight and height</h3>
            </div>
        </div>
        <div class="card-header text-white">
            <h1 class="fw-bolder">Body Mass Index</h1>
        </div>
        <div class="card-body">
            
            <label class="fw-bolder form-label text-white" for="weight">Your Weight: (kg)</label>
            <input required type="number" [(ngModel)]="weight" name="weight" placeholder="Enter your weight" class="form-control bg-white bg-opacity-75 border border-primary border-2">

            <label class="fw-bolder form-label text-white" for="height">Your Height: (cm)</label>
            <input required placeholder="Enter your height" class="form-control bg-white bg-opacity-75 border border-primary border-2" [(ngModel)]="height" name="height" type="number">

            <div class="text-center mt-2">
                <button class="btn btn-outline-light" (click)="calculateBmi()">Calculate Your BMI</button>
            </div>
            

            <div class="card-container" *ngIf="bmi>=40">
                <div class="alert alert-danger">
                    <h3 class="fw-bolder">Your BMI is {{bmi.toFixed(2)}} kg/m<sup>2</sup> above what it should be ! <br>
                        Status: III.Degree morbidly obese
                    </h3>
                </div>
            </div>
            <div class="card-container" *ngIf="bmi>=35 && bmi<40">
                <div class="alert alert-danger">
                    <h3 class="fw-bolder">Your BMI is {{bmi.toFixed(2)}} kg/m<sup>2</sup> above what it should be ! <br>
                        Status: II.Degree obese
                    </h3>
                </div>
            </div>
            <div class="card-container" *ngIf="bmi>=30 && bmi<35">
                <div class="alert alert-danger">
                    <h3 class="fw-bolder">Your BMI is {{bmi.toFixed(2)}} kg/m<sup>2</sup> above what it should be ! <br>
                        Status: I.Degree obese
                    </h3>
                </div>
            </div>
            <div class="card-container" *ngIf="bmi>=25 && bmi<30">
                <div class="alert alert-danger">
                    <h3 class="fw-bolder">Your BMI is {{bmi.toFixed(2)}} kg/m<sup>2</sup> above what it should be ! <br>
                        Status: Overweight
                    </h3>
                </div>
            </div>
            <div class="card-container" *ngIf="bmi>=18.5 && bmi<25">
                <div class="alert alert-danger">
                    <h3 class="fw-bolder">Your BMI is {{bmi.toFixed(2)}} kg/m<sup>2</sup> <br>
                        Status: Normal weight
                    </h3>
                </div>
            </div>
            <div class="card-container" *ngIf="bmi<18.5">
                <div class="alert alert-danger">
                    <h3 class="fw-bolder">Your BMI is {{bmi.toFixed(2)}} kg/m<sup>2</sup> below what it should be ! <br>
                        Status: Underweight
                    </h3>
                </div>
            </div>

            <div class="card-footer">
                <div class="text-white-50">
                    *Calculations were made as stated by the Ministry of Health of the Republic of Turkey.
                </div>
            </div>
            
        </div>
    </div>
</div>